@font-face {
  font-family: 'Adigiana';
  src: local('Adigiana'),
  local('Adigiana'),
  url('../fonts/Adigiana2.woff2') format('woff2'),
  url('../fonts/Adigiana2.woff') format('woff'),
  url('../fonts/Adigiana2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
